@import '@styles/font';
$submitColor: #4abb46ec;

.all {
    @include useFont;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: fit-content;
    min-width: 50vw;
    height: fit-content;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;

    .box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            @include useFont;
            font-size: large;
            width: 300px;
            height: 50px;
            padding: 15px 20px 15px 20px;
            margin: 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: $submitColor;
            color: #fff;

            &:hover {
                scale: 120%;
            }
        }

        .gray {
            background-color: #aaa;
        }
    }
}
