@import '@styles/font';

.header {
    @include useFont;
    height: 10vh;
    margin: 4vh 4vh 0 4vh;
}

.container {
    @include useFont;
    display: flex;

    input {
        @include useFont;
        font-size: medium;
    }

    .pane {
        overflow: hidden;
        height: 80vh;
        margin: 0 4vh 4vh 4vh;

        .container {
            display: block;
            height: 100%;
            overflow-y: scroll;
        }
    }
}
