@import '@styles/font';

$submitColor: #4abb46c7;

@mixin withAction {
    .action {
        button {
            padding: 15px 20px 15px 20px;
            margin: 20px;
            border: none;
            border-radius: 5px;
            background-color: #999;
            cursor: pointer;

            &:hover {
                scale: 120%;
            }
        }

        .submit {
            background-color: $submitColor;
            color: #fff;
        }
    }
}

.header {
    @include useFont;

    height: 10vh;
    margin: 4vh 4vh 0 4vh;

    span {
        margin-inline: 5px;
    }

    @mixin underlineOnHover {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .part {
        @include underlineOnHover;
        color: #999;

        &:hover {
            color: #000;
        }
    }

    .right {
        float: right;

        .edit {
            @include underlineOnHover;
            color: #999;

            &:hover {
                color: #000;
            }
        }

        .submit {
            @include underlineOnHover;
            color: $submitColor;
        }
    }
}

.container {
    @include withAction;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000;
    opacity: 0.95;

    * {
        @include useFont;
        font-size: large;
    }
}