@import '@styles/font';
$submitColor: #4abb46ec;
$changeColor: #e6ee76ec;

.all {
    @include useFont;

    display: contents;

    .box {
        display: flex;
        justify-content: center;

        button {
            padding: 15px 20px 15px 20px;
            margin: 20px;
            border: none;
            border-radius: 5px;
            background-color: #eee;
            cursor: pointer;

            &:hover {
                scale: 120%;
            }
        }

        .submit {
            background-color: $submitColor;
            color: #fff;
        }

        .change {
            background-color: $changeColor;
        }
    }
}
