@import '@styles/font';

$submitColor: #4abb46c7;

.container {
    @include useFont;

    .header {
    
        height: 10vh;
        margin: 4vh 4vh 0 4vh;
    
        @mixin underlineOnHover {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    
        h2 {
            @include underlineOnHover;
            color: #999;
    
            &:hover {
                color: #000;
            }
        }
    
    }


    .footer {
        button {
            color: $submitColor;
        }
    }
}


