@mixin common {
    margin-right: 5px;
    padding: 5px;

    div {
        margin-block: 20px;
    }
}

@mixin boldOnHover {
    &:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.normal {
    @include common;
}

.selectable {
    @include common;

    .selected {
        @include boldOnHover;
        color: red;
    }

    .unselected {
        @include boldOnHover;
        color: #000;
    }
}